* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    min-height: 600px;
    border: 3px solid black;
    display: grid;

    grid-template-rows: repeat(auto-fit, minmax(250px, 300px));
}

.element {
    display: grid;
    justify-content: center;
    align-items: center;
}

.element1 {
    background-color: antiquewhite;
}

.element2 {
    background-color: aqua;
}

.element3 {
    background-color: blue;
}

.element4 {
    background-color: yellowgreen;
}

.element5 {
    background-color: blueviolet;
}

.element6 {
    background-color: tomato;
}